In [1]:
#importing the library pandas to handle database and files related functions
import pandas as pd

In [2]:
#read_csv function is called to read csv file and assign it to dataset variable
dataset=pd.read_csv("Salary_Data.csv")
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [8]:
#Spliting input and output by assigning them to i/p & o/p variables respectively

independent=dataset[["YearsExperience"]]
dependent=dataset[["Salary"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [15]:
# spliting training set and test set data seperately using train_test_split function from sklearn library 
# which supports all machine learning functions
# Arguments to the function - independent variable, dependent variable and the test data ratio=30%
 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30)

    YearsExperience
17              5.3
3               2.0
11              4.0
13              4.1
23              8.2
12              4.0
2               1.5
19              6.0
20              6.8
25              9.0
29             10.5
7               3.2
9               3.7
15              4.9
24              8.7
4               2.2
16              5.1
26              9.5
27              9.6
6               3.0
8               3.2

In [21]:
#Model creation - Learning phase
#Import Linear Regression class from sklearn.linear_model

from sklearn.linear_model import LinearRegression
regressor=LinearRegression()     #creating object "regressor" for LinearRegression() class
regressor.fit(x_train,y_train)   #Passing training data i/p and o/p to fit function to find weight and 
                                    #bais. Once w,b is found then model gets created

weight=regressor.coef_           # assigning the calculated slope value from coef_ variable to weight variable
bais=regressor.intercept_        #  assigning the calculated bais value from intercept_ variable to bais variable

In [25]:
#Evaluation Metric phase

y_pred=regressor.predict(x_test) #predict method is called to calculate "predicted o/p" by passing x_test as input

# to cross check the model is performing better or not, r2_score function is imported. It calculates r2 value.
# If r2 value is nearer or equal to 0, the model is performing poor
# If r2 value is nearer or equal to 1, the model is performing better

from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score # r2value - 0.9646133098205328 is nearly to 1, so we conclude model's performance is good

0.9646133098205328

In [28]:
# Save model phase
import pickle  # importing pickle module which supports model saving
filename="Finalised_model_linear.sav" # Assigning a filename to a variable
pickle.dump(regressor,open(filename,'wb')) #using dump function, open a file in write mode 
                                                #and write the model into the file *.sav and save

In [31]:
#Load the model to cross check the result before deployment
load_model=pickle.load(open("Finalised_model_linear.sav",'rb')) #Model is loaded and opened in read mode
result=load_model.predict([[15]]) #input is passed to predict the output

array([[169538.40527713]])

In [ ]:
#PHASE 2 - Deployment - providing the model to end user usage

In [33]:
import pickle # import pickle module
load_model=pickle.load(open("Finalised_model_linear.sav",'rb')) #Model is loaded and opened in read mode
result=load_model.predict([[13]]) #input is passed to predict the output
result #Final predicted o/p

array([[150086.39020661]])